Proyecto Python

## <b> Importacion de librerias </b>

In [1]:
import pandas as pd 
import numpy as np

In [2]:
from sqlalchemy import create_engine
server = 'DESKTOP-URHKNH7'
db = 'galileo_2022dwh'
Driver = 'ODBC Driver 17 for SQL Server'
db_con = f'mssql://@{server}/{db}?driver={Driver}'
engine = create_engine(db_con)
con = engine.connect()

## <b> Carga de datos de SQL a Python </b>

In [4]:
dataset = pd.read_sql_query(
    """
    select * from galileo_2022dwh..dataset_proyecto
    """, con)

## <b> Exploratoria de datos </b>

In [5]:
dataset.shape

(2312944, 21)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312944 entries, 0 to 2312943
Data columns (total 21 columns):
 #   Column            Dtype
---  ------            -----
 0   App Name          object
 1   App Id            object
 2   Category          object
 3   Rating            object
 4   Rating Count      object
 5   Installs          object
 6   Minimum Installs  object
 7   Maximum Installs  object
 8   Free              object
 9   Price             object
 10  Currency          object
 11  Size              object
 12  Minimum Android   object
 13  Developer Id      object
 14  Released          datetime64[ns]
 15  Last Updated      datetime64[ns]
 16  Content Rating    object
 17  Ad Supported      object
 18  In App Purchases  object
 19  Editors Choice    object
 20  Scraped Time      datetime64[ns]
dtypes: datetime64[ns](3), object(18)
memory usage: 370.6+ MB

### 1. Definicion de campos

In [7]:
dataset.columns

Index(['App Name', 'App Id', 'Category', 'Rating', 'Rating Count', 'Installs',
       'Minimum Installs', 'Maximum Installs', 'Free', 'Price', 'Currency',
       'Size', 'Minimum Android', 'Developer Id', 'Released', 'Last Updated',
       'Content Rating', 'Ad Supported', 'In App Purchases', 'Editors Choice',
       'Scraped Time'],
      dtype='object')

In [8]:
dataset.head()

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Size,Minimum Android,Developer Id,Released,Last Updated,Content Rating,Ad Supported,In App Purchases,Editors Choice,Scraped Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.0,0,10+,10,15,True,0,...,10M,7.1 and up,Jean Confident Irénée NIYIZIBYOSE,2020-02-26,2020-02-26,Everyone,False,False,False,2021-06-15 20:19:35
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64,"5,000+",5000,7662,True,0,...,2.9M,5.0 and up,Webserveis,2020-05-21,2021-05-06,Everyone,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.0,0,50+,50,58,True,0,...,3.7M,4.0.3 and up,Cabin Crew,2019-08-09,2019-08-19,Everyone,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5,10+,10,19,True,0,...,1.8M,4.0.3 and up,Climate Smart Tech2,2018-09-10,2018-10-13,Everyone,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.0,0,100+,100,478,True,0,...,6.2M,4.1 and up,Rafal Milek-Horodyski,2020-02-21,2018-11-12,Everyone,False,False,False,2021-06-15 20:19:35

In [9]:
dataset['App Name'].value_counts()

????                            5201
?????                           4329
??????                          4040
???????                         2818
????????                        2161
                                ...
BAYMONT INN & SUITES LINCOLN       1
Carvaan 8D                         1
The Morning Joe- MSNBC             1
Coswiger FV                        1
Biliyor Musun - Sonsuz Yaris       1
Name: App Name, Length: 2103059, dtype: int64

com.ishakwe.gakondo              1
co.tapcart.app.id_GQEQ9eXxJg     1
com.apocalipseescatologia.app    1
com.puzzlegame.wordconnect       1
rankr.io.srigitanjali            1
                                ..
com.arabeauty.ringtones2020      1
com.bibigame.linkhalo            1
com.ilmasoftkids.mfb_eng         1
com.app.colonybuddy              1
com.yyazilim.biliyormusun        1
Name: App Id, Length: 2312944, dtype: int64

In [ ]:
dataset['App Id'].value_counts()

In [11]:
dataset['Currency'].value_counts()

USD    2311548
XXX       1236
EUR          6
INR          5
GBP          3
CAD          2
VND          1
BRL          1
KRW          1
TRY          1
RUB          1
SGD          1
AUD          1
PKR          1
ZAR          1
Name: Currency, dtype: int64

In [12]:
dataset.head()

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Size,Minimum Android,Developer Id,Released,Last Updated,Content Rating,Ad Supported,In App Purchases,Editors Choice,Scraped Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.0,0,10+,10,15,True,0,...,10M,7.1 and up,Jean Confident Irénée NIYIZIBYOSE,2020-02-26,2020-02-26,Everyone,False,False,False,2021-06-15 20:19:35
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64,"5,000+",5000,7662,True,0,...,2.9M,5.0 and up,Webserveis,2020-05-21,2021-05-06,Everyone,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.0,0,50+,50,58,True,0,...,3.7M,4.0.3 and up,Cabin Crew,2019-08-09,2019-08-19,Everyone,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5,10+,10,19,True,0,...,1.8M,4.0.3 and up,Climate Smart Tech2,2018-09-10,2018-10-13,Everyone,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.0,0,100+,100,478,True,0,...,6.2M,4.1 and up,Rafal Milek-Horodyski,2020-02-21,2018-11-12,Everyone,False,False,False,2021-06-15 20:19:35

In [13]:
dataset = dataset[['Category', 'Rating', 'Content Rating', 'Currency', 'Last Updated', 'Price']]

### 2. Identificar registros para la limpieza de los datos

In [14]:
dataset.isnull().sum()

Category              0
Rating            22883
Content Rating        0
Currency            135
Last Updated          0
Price                 0
dtype: int64

### 2.1 Limpieza del campo Currency

In [15]:
dataset['Currency'].value_counts(dropna=False)

USD    2311548
XXX       1236
NaN        135
EUR          6
INR          5
GBP          3
CAD          2
VND          1
BRL          1
KRW          1
TRY          1
RUB          1
SGD          1
AUD          1
PKR          1
ZAR          1
Name: Currency, dtype: int64

In [16]:
dataset['Currency'].fillna('XXX', inplace=True)

In [17]:
dataset['Currency'].value_counts(dropna=False)

USD    2311548
XXX       1371
EUR          6
INR          5
GBP          3
CAD          2
VND          1
BRL          1
KRW          1
TRY          1
RUB          1
SGD          1
AUD          1
PKR          1
ZAR          1
Name: Currency, dtype: int64

### 2.2 Limpieza del campo Rating

In [18]:
dataset['Rating'].value_counts(dropna=False)

0.0    1059762
5.0     100122
4.2      87993
4.4      86304
4.3      83276
4.6      78302
4.5      76753
4.1      69723
4.0      67342
4.7      62205
4.8      61109
3.9      55684
3.8      53863
4.9      44524
3.7      43300
3.6      35989
3.5      31636
3.4      28908
NaN      22883
3.3      22613
3.2      21485
3.0      17275
3.1      15539
2.8      12235
2.9      11522
2.6       9213
2.7       9200
2.5       6942
2.4       6051
2.3       5414
2.2       4954
2.0       3804
2.1       3675
1.8       2957
1.9       2588
1.7       1928
1.6       1644
1.5       1157
1.4       1011
1.0        713
1.3        579
1.2        531
1.1        236
Name: Rating, dtype: int64

In [19]:
dataset['Rating'].fillna('0.0', inplace=True)

In [20]:
dataset.isnull().sum()

Category          0
Rating            0
Content Rating    0
Currency          0
Last Updated      0
Price             0
dtype: int64

## <b> Creaciones de dimensiones </b>

### 3.1 Dimension categoria

In [21]:
dim_categorias = dataset['Category'].drop_duplicates().reset_index()
dim_categorias = dim_categorias[['Category']].reset_index()
dim_categorias['id_categoria'] = dim_categorias['index'] + 1
dim_categorias.rename(columns={'Category':'categoria'}, inplace=True)
dim_categorias = dim_categorias[['id_categoria', 'categoria']]

### 3.2 Dimension calificacion

In [22]:
dim_calificacion = dataset['Rating'].drop_duplicates().reset_index().sort_values(by=['Rating'])
dim_calificacion = dim_calificacion[['Rating']].reset_index()
dim_calificacion.drop(columns=['index'], inplace=True)
dim_calificacion.reset_index(inplace=True)
dim_calificacion['id_calificacion'] = dim_calificacion['index'] + 1
dim_calificacion = dim_calificacion[['id_calificacion', 'Rating']]
dim_calificacion.rename(columns={'Rating':'puntuacion'}, inplace=True)

### 3.3 Dimension clasificación

In [23]:
dim_clasificacion = dataset['Content Rating'].drop_duplicates().reset_index().sort_values(by=['Content Rating'])
dim_clasificacion = dim_clasificacion[['Content Rating']].reset_index()
dim_clasificacion.drop(columns=['index'], inplace=True)
dim_clasificacion.reset_index(inplace=True)
dim_clasificacion['id_clasificacion'] = dim_clasificacion['index'] + 1
dim_clasificacion = dim_clasificacion[['id_clasificacion', 'Content Rating']]
dim_clasificacion.rename(columns={'Content Rating':'clasificacion'}, inplace=True)

### 3.4 Dimension monedas

In [24]:
dim_monedas = dataset['Currency'].drop_duplicates().reset_index().sort_values(by=['Currency'])
dim_monedas =dim_monedas[['Currency']].reset_index()
dim_monedas.drop(columns=['index'], inplace=True)
dim_monedas.reset_index(inplace=True)
dim_monedas['id_moneda'] = dim_monedas['index'] + 1
dim_monedas = dim_monedas[['id_moneda', 'Currency']]
dim_monedas.rename(columns={'Currency':'moneda'}, inplace=True)

dict_moneda = {
    'AUD': 'Dolar australiano',
    'BRL': 'Real brasileno',
    'CAD': 'Dolar Canadiense',
    'EUR': 'Euros',
    'GBP': 'Libra Esterlina',
    'INR': 'Rupia India',
    'KRW': 'Won surcoreano',
    'PKR': 'Rupia pakistani',
    'RUB': 'Rublo ruso',
    'SGD': 'Dolar de Singapur',
    'TRY': 'Lira turca',
    'USD': 'Dolares',
    'VND': 'Dong vietnamita',
    'XXX': 'Sin Moneda',
    'ZAR': 'Rand sudafricano'
}

dim_monedas['desc_moneda'] = dim_monedas['moneda'].map(dict_moneda)

### 3.5 Dimension fechas

In [25]:
dim_fechas = dataset['Last Updated'].drop_duplicates().reset_index().sort_values(by=['Last Updated'])
dim_fechas = dim_fechas[['Last Updated']].reset_index()
dim_fechas.drop(columns=['index'], inplace=True)
dim_fechas.reset_index(inplace=True)
dim_fechas['id_fecha'] = dim_fechas['index'] + 1
dim_fechas = dim_fechas[['id_fecha', 'Last Updated']]
dim_fechas['dia'] = dim_fechas['Last Updated'].astype(str).str[8:10]
dim_fechas['mes'] = dim_fechas['Last Updated'].astype(str).str[5:7]
dim_fechas['anio'] = dim_fechas['Last Updated'].astype(str).str[0:4]
dim_fechas['anio_mes'] = dim_fechas['anio'] + dim_fechas['mes']
dim_fechas['fecha'] = dim_fechas['anio'] + dim_fechas['mes'] + dim_fechas['dia']
dim_fechas['dia'] = dim_fechas['dia'].astype(int)
dim_fechas['mes'] = dim_fechas['mes'].astype(int)

## <b> Creando Fact Table </b>

### 1. Union de fact table y dimensiones

In [26]:
dataset['Price'] = dataset['Price'].astype(float)
dataset['cantidad'] = 1
fact_table =  pd.merge(
    dataset, dim_categorias, how='left', 
    left_on=['Category'], right_on=['categoria']
).merge(
    dim_calificacion, how='left', 
    left_on=['Rating'], right_on=['puntuacion']
).merge(
    dim_clasificacion, how='left', 
    left_on=['Content Rating'], right_on=['clasificacion']
).merge(
    dim_monedas, how='left', 
    left_on=['Currency'], right_on=['moneda']
).merge(
    dim_fechas, how='left', 
    left_on=['Last Updated'], right_on=['Last Updated']
)

fact_table['total'] = fact_table['cantidad'] * fact_table['Price']

### 2. Validacion de existencia de valores nulos

In [27]:
fact_table[['Category', 'Rating', 'Content Rating', 'Currency', 'Last Updated',
       'Price', 'cantidad', 'total', 'id_categoria', 'id_calificacion', 'id_clasificacion', 
       'id_moneda', 'id_fecha']].isnull().sum()

Category            0
Rating              0
Content Rating      0
Currency            0
Last Updated        0
Price               0
cantidad            0
total               0
id_categoria        0
id_calificacion     0
id_clasificacion    0
id_moneda           0
id_fecha            0
dtype: int64

### 3. Crea tabla de resultados (Fact Table)

In [28]:
fact_table_google = fact_table.groupby(by=['id_categoria', 'id_calificacion', 'id_clasificacion', 'id_moneda', 'id_fecha'])[['cantidad','total']].sum().reset_index()
dim_fechas = dim_fechas[['id_fecha', 'fecha', 'anio_mes', 'dia', 'mes', 'anio']]
fact_table_google['total'] = round(fact_table_google['total'],2)

In [29]:
fact_table_google.head()

,id_categoria,id_calificacion,id_clasificacion,id_moneda,id_fecha,cantidad,total
0,1,1,2,3,3749,1,0.00
1,1,1,2,4,3903,1,0.00
2,1,1,2,12,232,1,1.00
3,1,1,2,12,240,1,1.00
4,1,1,2,12,276,1,1.15